<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="./css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="./css/site.css"/>
</head>
<body>
    <div class="container">
        <header>
            <img src="./assets/logo-dio.png" alt="logo" title="logo"/>
        </header>
        <main>
            <section class="section-content">
                <p>
                    A plataforma para você aprender com experts, dominar as principais tecnologias e 
                    entrar mais rápido nas empresas mais desejadas.
                </p>
            </section>
            <section class="section-form">
                <h1 class="cadastro-h1">Comece agora grátis</h1>
                <p class="subtitle-p">Faça seu login e make the change._</p>
                <form>
                    <div class="input-container">
                        <img src="./assets/logo-dio.png" alt="nome completo" title="nome completo"/>
                        <input type="text" placeholder="@nome completo" required/>
                    </div>
                    <div class="input-container">
                        <img src="./assets/logo-dio.png" alt="e-mail" title="e-mail"/>
                        <input type="email" placeholder="@e-mail" required/>
                    </div>
                    <div class="input-container">
                        <img src="./assets/logo-dio.png" alt="e-mail" title="e-mail"/>
                        <input type="password" placeholder="@senha" required/>
                    </div>
                    <div class="button-container">
                        <button type="submit">Criar minha conta</button>
                    </div>
                </form>
                <p class="cria-conta-p">
                    Ao clicar em "criar minha conta grátis", 
                    declaro que aceito as Políticas de Privacidade e os Termos de Uso da DIO.
                </p>
                <p class="cria-conta-p">
                    Já tenho conta. <a class="criar-conta" href="#" title="fazer login">Fazer login</a>
                </p>
            </section>
        </main>
    </div>
</body>
</html>