<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="./css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="./css/site.css"/>
</head>
<body>
    <div class="container">
        <header>
            <img src="./assets/logo-dio.png" alt="logo" title="logo"/>
            <div class="header-actions">
                <span class="link-margin">Home</span>
                <div class="link-button link-margin">
                    <a hrf="#" title="entrar">Entrar</a>
                </div>
                <div class="link-button">
                    <a hrf="#" title="Cadastrar">Cadastrar</a>
                </div>
            </div>
        </header>
        <main>
            <section class="section-content">
                <div style="display:flex;flex-direction:column;flex-grow:1;">
                    <h1 style="font-size:2rem; font-weight:800;margin-left:1rem;margin-right:1rem;"><span style="color:var(--destack-color);margin-bottom:0.125rem;">Implemente</span> seu futuro global agora!</h1>
                    <p style="font-size:1.5rem;font-weight:500;flex-grow:1;">
                        Domine as tecnologias utilizadas pelas empresas mais inovadoras
                        do mundo e encare seu novo desafio profissional, evoluindo em 
                        comunidade com os melhores experts.
                    </p>
                    <div class="button-container" style="margin-top:0;">
                        <button>Começar agora</button>
                    </div>
                </div>
            </section>
            <section class="section-form">
                <img src="./assets/banner.png" alt="banner" title="banner"/>
            </section>
        </main>
    </div>
</body>
</html>