<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário Home</title>
    <link rel="stylesheet" type="text/css" href="./css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="./css/site.css"/>
</head>
<body>
    <div class="container">
        <header>
            <div class="header-search">
                <img src="./assets/logo-dio.png" alt="logo" title="logo"/>
                <div class="input-search">
                    <img src="./assets/logo-dio.png" alt="buscar" title="buscar"/>
                    <input type="text" placeholder="@buscar" />
                </div>
                <a class="criar-conta" style="margin-right: 0.5rem;" href="#" title="live code">Live Code</a>   
                <a class="criar-conta" href="#" title="live code">Global</a>   
            </div>
            <div class="avatar">
                <img src="./assets/logo-dio.png" alt="avatar" title="avatar"/>
            </div>            
        </header>
        <main>
            <section class="feed-section">
                <article class="feed">
                    <img style="max-width:100%;" src="./assets/feed.png" alt="feed" title="feed"/>
                    <div class="feed-user-info">
                        <div class="avatar">
                            <img src="./assets/logo-dio.png" alt="avatar" title="avatar"/>
                        </div>
                        <div class="feed-user">
                            <p class="feed-user-name">Pablo Henrique</p>         
                            <p class="feed-history">Há 8 minutos</p>         
                        </div>   
                    </div>
                    <div class="feed-data">
                        <p class="feed-data-tittle">Projeto para curso de HTML e CSS</p>
                        <p class="feed-data-content">Projeto feito no curso de html e css no bootcamp da dio Global Avanade... <strong>Ver mais</strong></p>
                        <p class="feed-data-hash">#HTML #CSS # JavaScript</p>
                        <p class="feed-data-note">10</p>
                    </div>
                </article>
                <article class="feed">
                    <img style="max-width:100%;" src="./assets/feed.png" alt="feed" title="feed"/>
                    <div class="feed-user-info">
                        <div class="avatar">
                            <img src="./assets/logo-dio.png" alt="avatar" title="avatar"/>
                        </div>
                        <div class="feed-user">
                            <p class="feed-user-name">Pablo Henrique</p>         
                            <p class="feed-history">Há 8 minutos</p>         
                        </div>   
                    </div>
                    <div class="feed-data">
                        <p class="feed-data-tittle">Projeto para curso de HTML e CSS</p>
                        <p class="feed-data-content">Projeto feito no curso de html e css no bootcamp da dio Global Avanade... <strong>Ver mais</strong></p>
                        <p class="feed-data-hash">#HTML #CSS # JavaScript</p>
                        <p class="feed-data-note">10</p>
                    </div>
                </article>
                <article class="feed">
                    <img style="max-width:100%;" src="./assets/feed.png" alt="feed" title="feed"/>
                    <div class="feed-user-info">
                        <div class="avatar">
                            <img src="./assets/logo-dio.png" alt="avatar" title="avatar"/>
                        </div>
                        <div class="feed-user">
                            <p class="feed-user-name">Pablo Henrique</p>         
                            <p class="feed-history">Há 8 minutos</p>         
                        </div>   
                    </div>
                    <div class="feed-data">
                        <p class="feed-data-tittle">Projeto para curso de HTML e CSS</p>
                        <p class="feed-data-content">Projeto feito no curso de html e css no bootcamp da dio Global Avanade... <strong>Ver mais</strong></p>
                        <p class="feed-data-hash">#HTML #CSS # JavaScript</p>
                        <p class="feed-data-note">10</p>
                    </div>
                </article>
                <article class="feed">
                    <img style="max-width:100%;" src="./assets/feed.png" alt="feed" title="feed"/>
                    <div class="feed-user-info">
                        <div class="avatar">
                            <img src="./assets/logo-dio.png" alt="avatar" title="avatar"/>
                        </div>
                        <div class="feed-user">
                            <p class="feed-user-name">Pablo Henrique</p>         
                            <p class="feed-history">Há 8 minutos</p>         
                        </div>   
                    </div>
                    <div class="feed-data">
                        <p class="feed-data-tittle">Projeto para curso de HTML e CSS</p>
                        <p class="feed-data-content">Projeto feito no curso de html e css no bootcamp da dio Global Avanade... <strong>Ver mais</strong></p>
                        <p class="feed-data-hash">#HTML #CSS # JavaScript</p>
                        <p class="feed-data-note">10</p>
                    </div>
                </article>
                <article class="feed">
                    <img style="max-width:100%;" src="./assets/feed.png" alt="feed" title="feed"/>
                    <div class="feed-user-info">
                        <div class="avatar">
                            <img src="./assets/logo-dio.png" alt="avatar" title="avatar"/>
                        </div>
                        <div class="feed-user">
                            <p class="feed-user-name">Pablo Henrique</p>         
                            <p class="feed-history">Há 8 minutos</p>         
                        </div>   
                    </div>
                    <div class="feed-data">
                        <p class="feed-data-tittle">Projeto para curso de HTML e CSS</p>
                        <p class="feed-data-content">Projeto feito no curso de html e css no bootcamp da dio Global Avanade... <strong>Ver mais</strong></p>
                        <p class="feed-data-hash">#HTML #CSS # JavaScript</p>
                        <p class="feed-data-note">10</p>
                    </div>
                </article>
            </section>
            <section class="top-five-section">
                <p class="top-five-title"># Ranking Top 5 da Semana</p>
                <article class="feed-item">
                    <div class="avatar">
                        <img src="./assets/logo-dio.png" alt="avatar" title="avatar"/>
                    </div>
                    <div class="feed-info">
                        <p>Pablo Henrique</p>
                        <div class="progress-bar">
                            <span style="width: 80%;">Progress: 80%</span>
                        </div>
                    </div>
                </article>
                <article class="feed-item">
                    <div class="avatar">
                        <img src="./assets/logo-dio.png" alt="avatar" title="avatar"/>
                    </div>
                    <div class="feed-info">
                        <p>Pablo Henrique</p>
                        <div class="progress-bar">
                            <span style="width: 80%;">Progress: 80%</span>
                        </div>
                    </div>
                </article>
                <article class="feed-item">
                    <div class="avatar">
                        <img src="./assets/logo-dio.png" alt="avatar" title="avatar"/>
                    </div>
                    <div class="feed-info">
                        <p>Pablo Henrique</p>
                        <div class="progress-bar">
                            <span style="width: 80%;">Progress: 80%</span>
                        </div>
                    </div>
                </article>
                <article class="feed-item">
                    <div class="avatar">
                        <img src="./assets/logo-dio.png" alt="avatar" title="avatar"/>
                    </div>
                    <div class="feed-info">
                        <p>Pablo Henrique</p>
                        <div class="progress-bar">
                            <span style="width: 80%;">Progress: 80%</span>
                        </div>
                    </div>
                </article>
                <article class="feed-item">
                    <div class="avatar">
                        <img src="./assets/logo-dio.png" alt="avatar" title="avatar"/>
                    </div>
                    <div class="feed-info">
                        <p>Pablo Henrique</p>
                        <div class="progress-bar">
                            <span style="width: 80%;">Progress: 80%</span>
                        </div>
                    </div>
                </article>
            </section>
        </main>
    </div>
</body>
</html>